.top{
    display: flex;
    background-color: crimson;
    height: 60px;
    padding-top: -300px;
    position: relative;
    top: -10px;
    left: -10px;
    width: 2000px;
    /* position: fixed;
    top:0px; */
}
img{
    padding-left: 50px;
    padding-top: 5px;
}
.navbar{
    padding-top: 20px;
    padding-left:150px;
    word-spacing: 15px;
    font-size: 18px;
}
.ho{
    text-decoration: none;
    color: rgb(241, 241, 180);
}
.hm{
    text-decoration: none;
    color: rgb(192, 192, 75);
}
.ab{
    text-decoration: none;
    color: rgb(241, 241, 180);
    word-spacing: 0px;
}
.re{
    text-decoration: none;
    color: rgb(241, 241, 180);
}
.ba{
    text-decoration: none;
    color: rgb(241, 241, 180);
    word-spacing: 1px;
}
.ca{
    text-decoration: none;
    color: rgb(241, 241, 180);
    word-spacing: -1px;
}
.ne{
    text-decoration: none;
    color: rgb(241, 241, 180);
    word-spacing: 0px;
}
.co{
    text-decoration: none;
    color: rgb(241, 241, 180);
}
input{
    background-color:transparent;
    border-radius: 30px;
    border-width: 2px;
    border-color: rgb(241, 241, 180);
    height: 30px;
    position: relative;
    left: 50px;
    bottom: 8px;
    width: 130px;
}
.sch{
    position: relative;
    top:13px;
    left:5px;
    color:white;
}
.second{
    background-color: gray;
    width: 500px;
    border-radius: 30px;
    position: relative;
    top: 400px
    
}
.tp{
    background-image: url(./images/wine.png);
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    top: -30px;
    padding-left: 40px;
    text-align: center;
    
    height: 600px;
    color: white;


}